name: Release

on:
  push:
    tags:
    - 'v*' # Run only when the tag matches v*, i.e. v1.0, v20.15.10

jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Get tag name
        id: get_tag
        uses: actions/github-script@master
        with:
          result-encoding: string
          script: return '${{ github.ref }}'.replace('refs/tags/', '');    

      - name: Get release version
        id: get_version
        uses: actions/github-script@master
        with:
          result-encoding: string
          script: return '${{ steps.get_tag.outputs.result }}'.substr(1);

      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: 11

      - name: Build project
        run: ./gradlew --no-daemon --console=plain build

      - name: Create release
        id: create_release
        uses: actions/create-release@v1.1.4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.get_tag.outputs.result }}
          release_name: ${{ steps.get_tag.outputs.result }}
          draft: false
          prerelease: false

      - name: Upload the TAR archive
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./build/distributions/xvalid.tar
          asset_name: xvalid-${{ steps.get_version.outputs.result }}.tar
          asset_content_type: application/tar
      - name: Upload the ZIP archive
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./build/distributions/xvalid.zip
          asset_name: xvalid-${{ steps.get_version.outputs.result }}.zip
          asset_content_type: application/zip

      - name: Build Docker image
        run: ./gradlew --no-daemon --console=plain jibDockerBuild
      - name: Log into Docker registry
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: echo "$GITHUB_TOKEN" | docker login docker.pkg.github.com -u ${{ github.actor }} --password-stdin
      - name: Tag and push Docker image
        env:
          VERSION: ${{ steps.get_version.outputs.result }}
        run: |
          docker tag xvalid:latest docker.pkg.github.com/plamentotev/xvalid/xvalid:$VERSION
          docker tag xvalid:latest docker.pkg.github.com/plamentotev/xvalid/xvalid:latest
          docker push docker.pkg.github.com/plamentotev/xvalid/xvalid:$VERSION
          docker push docker.pkg.github.com/plamentotev/xvalid/xvalid:latest
